.canvas {
    max-width: 90vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-color: #1E1E1E;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
}

.canvasContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 10000px;
    height: 10000px;
}

.element {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    user-select: none;
}
