.draggableTitle {
    min-width: auto;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #00000000;
    color: white;
    cursor: grab;
    transition: all 0.2s ease;
    outline: 0px dashed #ffffff00;
    padding: 10px 20px;

    &:hover {
        z-index: 100;
        outline: 1px dashed #a200ff;
    }

    &:hover + .draggableTitle_size {
        display: flex;
    }
}
