@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');
:root {
  font-family: "Montserrat", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Jost", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  height: 100vh;
  display: flex;
}

.sidebar {
  padding: 16px;
  background-color: #161616;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  color: #fff;
  flex-direction: column;
  gap: 16px;
  width: 200px;
}

.toolbox {
  flex-direction: column;
  gap: 8px;
  display: flex;
}

.canvasContainer {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  flex: 1;
}
